<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

    <center>
        <h2>Nuevo Libro</h2>
        <form action="alta" method="post">
            ISBN:<input type="text" name="isbn"><br><br>
            TITULO:<input type="text" name="titulo"><br><br>
            AUTOR:<input type="text" name="autor"><br><br>
            PRECIO:<input type="number" name="precio"><br><br>
            <input type="submit" value="Guardar">
        </form>

    </center>

</body>
</html>